
:root {
    --primary-text-color: #757575;
    --secondly-text-color: #212121;
    --text-blue-color: #2196F3;
    --primary-background-color: #F5F5F5;
    --half-logo-color: #2196F3;
    --upper-logo-color: #000000;
    --hover-color: #2196F3;
    --site-navigation-color: #212121;
    --white-color: #FFFFFF;
    --under-logo-color: #FFFFFF;
    --secondly-bg-color: #2F303A;
    --under-contact-color: rgba(255, 255, 255, 0.6);
    --third-section-color:#F5F4FA;
}


body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0,03em;
    font-size: 14px;
   


}

ul {
    list-style: none;
}
/*header*/
.header{
    background-color: var(--white-color) ;
}



/*logo*/

.half-logo {
    color: var(--half-logo-color);
    font-family: raleway, sans-serif;
    font-family: 700;
        font-size: 26px;
        line-height: 1.19;
}


    .logo {
        color: var(--upper-logo-color);
        font-family: raleway, sans-serif;
            font-family: 700;
            font-size: 26px;
            line-height: 1.19;
            text-decoration: none;
        }
    


    .logo:hover,
    .logo:focus {
        color: var(--hover-color);
        font-family: 700;
            font-size: 26px;
            line-height: 1.19;
            
    }

    

    /*site-nav*/
    .site-nav .link {
        color: var(--site-navigation-color);
         font-weight: 500; 
         
          line-height: 1.14;
         letter-spacing: 0.02;
         text-decoration: none;


    }

    .site-nav .link:hover,
    .site-nav .link:focus {
        color: var(--hover-color);
        font-weight: 500;
        
            line-height: 1.14;
            letter-spacing: 0.02;
    }

    .site-nav .link.current {
        color: var(--text-blue-color);
    }
        /*comunication navigation*/
        .communication .contact {
            color: var(--primary-text-color);
            text-decoration: none;
            font-weight: 500;
            
                line-height: 1.14;
                letter-spacing: 0.02;
    
        }
    
        .communication .contact:hover,
        .communication .contact:focus {
            color: var(--hover-color);
            font-weight: 500;
            
            line-height: 1.14;
            letter-spacing: 0.02;
        }

    /*hero*/
    .hero {
        background-color: var(--secondly-bg-color);
    }

    .hero-title {
        color: var(--white-color);
         font-weight: 900; 
         font-size: 44px ;
         line-height: 1.36;
        text-align:center  ;
        letter-spacing: 0.06;
        text-transform: uppercase;
    }
        /*button*/
        .button {
            
            color: var(--white-color);
            background-color: var(--text-blue-color);
            font-family: roboto;
            font-weight: 700;
                font-size: 16px;
                line-height: 1.9;
                letter-spacing: 0.06;
        }

    /*Section*/
    .section-title {
        color: var(--secondly-text-color);
        font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
           
    }


    /*Features*/
    
    
    .feature-list .title {
        color: var(--secondly-text-color);
        font-weight: 700;
           
            line-height: 1.17;
            
            
    }
    

    
    .feature-list .text{
        
            
            line-height: 1.7;
            
           

    }

    /*whet we do*/



    /*our team*/
    .third{
        background-color: var(--third-section-color);
    }
    .team .name {
        color: var(--secondly-text-color);
        font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
    }
    .specialization{
       
            font-size: 16px;
            line-height: 1.2;
            text-align: center;

    }

    
    /*footer*/
    .footer {
        background-color: var(--secondly-bg-color);
    }
    .under-logo{
        font-family: raleway,sans-serif;
        font-family: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
    }

    .half-white {
        color: var(--white-color);
    }

    .address .location {
        color: var(--white-color);
        
        line-height: 1.71;
        text-align: left;
        
    }

    .address .contact {
        color: var(--under-contact-color);
        line-height: 1.71;
        text-align: left;
        
    }

    .address .contact:hover,
    .address .contact:focus {
        color: var(--hover-color);
        
        line-height: 1.71;
            text-align: left;
            

    }
        /*
         Font size: 14px; Line height: 1.71; 
         Align: Left; */



    /*portfolio-css*/

     
    .works{
        color: var(--primary-background-color)
    }
    .filt{
        color: var(--secondly-text-color);
        background-color: var(--third-section-color);
        font-family: roboto;
        font-weight: 500;
        font-size: 16;
        line-height: 1.62;
        letter-spacing: 0.03;
    }
    .filt:hover,
    .filt:focus{
        color:var(--white-color);
        background-color: var(--hover-color);
        font-family: roboto;
            font-weight: 500;
            font-size: 16;
            line-height: 1.62;
            letter-spacing: 0.03;
    }
    
    .port-img{
        text-decoration: none;
    }
    .project{
        color: var(--secondly-text-color);
        
        font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            
            

    }
    .value{
        font-size: 16px;
        line-height: 1.88;
        color:var(--primary-text-color);
       

    }


    