
:root {
    --primary-text-color: #757575;
    --secondly-text-color: #212121;
    --text-blue-color: #2196F3;
    --primary-background-color: #F5F5F5;
    --half-logo-color: #2196F3;
    --upper-logo-color: #000000;
    --hover-color: #2196F3;
    --site-navigation-color: #212121;
    --white-color: #FFFFFF;
    --under-logo-color: #FFFFFF;
    --secondly-bg-color: #2F303A;
    --under-contact-color: rgba(255, 255, 255, 0.6);
    --third-section-color:#F5F4FA;
}


body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: -0,030em;
    line-height: 100%;


}

ul {
    list-style: none;
}
/*header*/
.header{
    background-color: var(--white-color) ;
}



/*logo*/

.half-logo {
    color: var(--half-logo-color);
    font-family: raleway, sans-serif;
    font-family: 700;
        font-size: 26px;
        line-height: 1.19;
}


    .logo {
        color: var(--upper-logo-color);
        font-family: raleway, sans-serif;
            font-family: 700;
            font-size: 26px;
            line-height: 1.19;
        }
    


    .logo:hover,
    .logo:focus {
        color: var(--hover-color);
    }

    

    /*site-nav*/
    .site-nav .link {
        color: var(--site-navigation-color);
         font-style: 500; 
         font-size: 14px;
          line-height: 1.14;
         letter-spacing: -0.020;


    }

    .site-nav .link:hover,
    .site-nav .link:focus {
        color: var(--hover-color);
    }

    .site-nav .link.current {
        color: var(--text-blue-color);
    }
        /*comunication navigation*/
        .communication .contact {
            color: var(--primary-text-color);
    
        }
    
        .communication .contact:hover,
        .communication .contact:focus {
            color: var(--hover-color);
            font-style: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: -0.020;
        }

    /*hero*/
    .hero {
        background-color: var(--secondly-bg-color);
    }

    .hero-title {
        color: var(--white-color);
         font-style: 900; 
         font-size: 44px ;
         line-height: 60px;
          line-height: 116%;
        text-align:center  ;
        letter-spacing: -0.060;
    }
        /*button*/
        .button {
            
            color: var(--white-color);
            background-color: var(--text-blue-color);
            font-style: 700;
                font-size: 16px;
                line-height: 1.9;
                line-height: 160%;
                letter-spacing: -0.060;
        }

    /*Section*/
    .section-title {
        color: var(--secondly-text-color);
        font-style: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
           
    }


    /*Features*/
    .feature-list .title {
        color: var(--secondly-text-color);
        font-style: 700;
            font-size: 14px;
            line-height: 1.17;
            
            
    }
    

    
    .feature-list .text{
        
            font-size: 14px;
            line-height: 1.7;
            line-height: 146%;
           

    }

    /*whet we do*/



    /*our team*/
    .third{
        background-color: var(--third-section-color);
    }
    .team .name {
        color: var(--secondly-text-color);
        font-style: 500;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
    }
    .specialization{
        font-style: 400;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;

    }

    
    /*footer*/
    .footer {
        background-color: var(--secondly-bg-color);
    }

    .half-white {
        color: var(--white-color);
    }

    .address .location {
        color: var(--white-color);
    }

    .address .contact {
        color: var(--under-contact-color);
    }

    .address .contact:hover,
    .address .contact:focus {
        color: var(--hover-color);

    }



    /*portfolio-css*/

     
    .works{
        color: var(--primary-background-color)
    }
    .filt{
        color: var(--secondly-text-color);
        background-color: var(--third-section-color);
    }
    .filt:hover,
    .filt:focus{
        color:var(--white-color);
        background-color: var(--hover-color);
    }
    .project{
        color: var(--secondly-text-color);
        font-style: 700;
            font-size: 18px;
            line-height: 2;
            line-height: 171%;
            letter-spacing: -0.060;
            

    }
    .value{
        font-size: 16px;
        line-height: 1.88;
        line-height: 160%;
        color:var(--primary-text-color);

    }
